.App {
  text-align: center;
}

.App-image {
  width: 400px;
  height: 500px;
  border-radius: 2%;
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%;
  margin: 10px;
}

.App-blog-content {
  max-width: 450px;
  margin: 10px;
}

.App-title {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

/* Add media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .App-header {
    flex-direction: column; /* stack the children vertically */
    margin: 0; /* reset margin */
    padding: 10px; /* add some padding */
  }

  .App-image {
    width: 90%; /* adjust width for mobile screens */
    height: auto; /* maintain aspect ratio */
    margin: 10px auto; /* add margin and auto to horizontally center the image */
    /* remove other properties that are not necessary */
  }

  .App-blog-content {
    width: 90%; /* adjust width for mobile screens */
    margin: 10px auto; /* centralize the content */
  }
}
